<app-menu></app-menu>
<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title"><span>Actividad</span> reciente</h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h1>Proyecto</h1>
                    <h2>La sinceridad es lo más importante</h2>
                    <p>
                        Aún no tengo realizados proyectos concretos, solo maquetas que realizo para práctica. El día que me proponga hacer alguno, será mostrado en esta sección.
                    </p>
                </div>
                <div class="project-img">
                    <img src="assets/images/Foto2.png" class="image-fluid" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
