<div id="editExp">
    <div class="container" *ngIf="educacion">
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE" style="font-size:30px;">Nombre de la empresa</label>
                        <input type="text" class="form-control" name="nombreE" id="nombreE" style="font-size: 15px;" [(ngModel)]="educacion.nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE" style="font-size:30px;">Descripcion de la tarea</label>
                        <input type="text" class="form-control" name="descripcionE" style="font-size: 15px;" id="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                    </div>
                    <button class="btn btn-primary" style="font-size:15px; margin-top: 15px;">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>