<div id="newExp">
    <div class="container">
        <div class="row">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nueva Skill</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" style="font-size: 15px;" [(ngModel)]="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">Porcentaje</label>
                        <input type="text" class="form-control" name="porcentaje" style="font-size: 15px;" id="porcentaje" [(ngModel)]="porcentaje" required>
                    </div>
                    <button class="btn btn-primary">
                        Agregar Skill
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
