<app-menu></app-menu>
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="assets/images/Foto3.jpg" alt="img">
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">Sobre <span>mi</span></h1>
            <h2>Desarrollador Full Stack</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, laboriosam aliquam voluptatum numquam magni totam aut tenetur. Illum corporis repudiandae debitis nostrum illo quasi, quos ad perferendis eveniet, voluptatibus dolorum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quos explicabo ullam ducimus possimus ipsum, facere id perferendis voluptates quaerat provident nihil enim aperiam, at dignissimos est alias nam corrupti.
            </p>
            <a href="https://drive.google.com/file/d/13ZhGiatpPNIFb3BGhAJQJX1kDYCdQFfM/view?usp=sharing" class="cta2" target="_BLANK">Descargar Curriculum</a>
            <app-educacion></app-educacion>
        </div>
    </div>
    <div class="row" id="experiencia">
        <h1>Experiencia <span>Laboral</span></h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" style="font-size: 20px;" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>
        
        <div class="col lg 1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td><h2>{{Experiencia.nombreE}}</h2></td>
                        <td class="td1">{{Experiencia.descripcionE}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i>EDITAR</button>
                        </td>
                            
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash3"></i>BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>