<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="boton">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav justify-content-end" id="id1">
        <a class="nav-link active" routerLink="inicio">Inicio</a>
        <a class="nav-link" routerLink="/project">Proyectos</a>
        <a class="nav-link" routerLink="/sobremi">Sobre Mi</a>
        <a class="nav-link" routerLink="/tecnologias">Tecnologías</a>
        <a class="nav-link" routerLink="/contacto">Contacto</a>
        <a class="nic nav-link" routerLink="login" (click)="login()" *ngIf="!isLogged">Ingresar</a>
        <a class="nic nav-link" routerLink="login" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>
